<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-700">

    <form class="p-10" method="post" action="/edit">

        <a href="/" class="text-3xl text-blue-500 inline-block my-5">Go To Home</a>

        <input type="text" placeholder="Title"
            class="w-full mb-5 outline-0 border-black border rounded p-1 bg-gray-900 text-white" name="previous" value="<%= oldTitle %>">
        
        <input type="text" placeholder="New Name"
            class="w-full mb-5 outline-0 border-black border rounded p-1 bg-gray-900 text-white" name="new">
        

        <button class="bg-black text-white bg-yellow-600 px-10 py-2 rounded " type="submit">Update</button>
    </form>


</body>

</html>